@tailwind components;

@layer components {
  .footer {
    @apply z-40 flex items-center justify-between rounded-t-lg px-4 py-2.5 sm:p-4;
  }
  .footer,
  [data-theme="light"] .footer {
    border-top: 4px solid var(--light-accent);
    background-color: var(--dark-background);
  }

  .footer .cc {
    @apply h-2 sm:h-4;
  }

  .footer,
  [data-theme="light"] .footer span {
    color: var(--dark-text);
  }

  @media (prefers-color-scheme: dark) {
    .footer {
      border-top: 4px solid var(--dark-accent);
      background-color: var(--light-background);
    }

    .footer span {
      color: var(--light-text);
    }
  }
  [data-theme="dark"] .footer {
    border-top: 4px solid var(--dark-accent);
    background-color: var(--light-background);
  }

  [data-theme="dark"] .footer span {
    color: var(--light-text);
  }
}
