@tailwind components;

@layer components {
  header {
    @apply p-4 md:px-12 md:py-6;
  }
  .header-inner-container {
    @apply m-auto flex flex-row justify-between rounded-3xl border-2 px-6 py-4 shadow-card-light dark:shadow-card-dark;
    border-color: var(--current-text);
  }

  [data-theme="light"] .header-inner-container {
    background-color: var(--current-primary);
  }

  .logo {
    @apply h-8 w-32 bg-contain bg-no-repeat;
  }

  [data-theme="light"] .logo {
    background-image: url("./../../../assets/ramu-light.svg");
  }

  .header-inner-container.open {
    @apply rounded-b-none;
  }

  .header-inner-container.desktop {
    @apply m-auto flex max-w-7xl flex-row justify-between rounded-3xl border-2 px-8 py-6 shadow-card-light dark:shadow-card-dark;
  }

  .menu-tabs {
    @apply flex flex-row justify-end gap-4;
  }

  [data-theme="dark"] .header-inner-container {
    background-color: var(--current-secondary);
  }

  [data-theme="dark"] .logo {
    background-image: url("./../../../assets/ramu-dark.svg");
  }
}
