@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* initially respect user theme */
  :root {
    --light-background: #fdf7f1;
    --light-text: #170c03;
    --light-primary: #efb680;
    --light-secondary: #fae7d6;
    --light-accent: #ff8e24;
    --dark-background: #090a00;
    --dark-text: #fbfddd;
    --dark-primary: #efb680;
    --dark-secondary: #292929;
    --dark-accent: #bcbdc7;
  }

  :root {
    --current-background: var(--light-background);
    --current-text: var(--light-text);
    --current-primary: var(--light-primary);
    --current-secondary: var(--light-secondary);
    --current-accent: var(--light-accent);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --current-background: var(--dark-background);
      --current-text: var(--dark-text);
      --current-primary: var(--dark-primary);
      --current-secondary: var(--dark-secondary);
      --current-accent: var(--dark-accent);
    }
  }

  :root {
    --scroll-size: 8px;
    --scroll-radius: 16px;
    --scroll-track: rgba(0, 0, 0, 0.1);
    --scroll-thumb: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.3) 20%,
      transparent 20%,
      transparent 40%,
      rgba(255, 255, 255, 0.3) 40%,
      rgba(255, 255, 255, 0.3) 60%,
      transparent 60%,
      transparent 80%,
      rgba(255, 255, 255, 0.3) 80%
    );
    --scroll-thumb-color: var(--current-accent);
  }

  [data-theme="light"] {
    --current-background: var(--light-background);
    --current-text: var(--light-text);
    --current-primary: var(--light-primary);
    --current-secondary: var(--light-secondary);
    --current-accent: var(--light-accent);
  }

  [data-theme="dark"] {
    --current-background: var(--dark-background);
    --current-text: var(--dark-text);
    --current-primary: var(--dark-primary);
    --current-secondary: var(--dark-secondary);
    --current-accent: var(--dark-accent);
  }

  /* For Chrome, Safari, and Opera */
  ::-webkit-scrollbar {
    width: var(--scroll-size);
    height: var(--scroll-size);
  }

  ::-webkit-scrollbar-track {
    background: var(--scroll-track);
    border-radius: var(--scroll-radius);
  }

  ::-webkit-scrollbar-thumb {
    background-image: var(--scroll-thumb);
    background-color: var(--scroll-thumb-color);
    border-radius: var(--scroll-radius);
  }

  body {
    @apply font-telex text-base font-normal;
    color: var(--current-text);
    background-color: var(--current-background);
    scroll-behavior: smooth;

    /* For Firefox */
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-thumb-color) var(--scroll-track);
  }

  a {
    @apply underline decoration-wavy underline-offset-2;
  }

  h1 {
    @apply font-raleway text-6xl font-normal;
    color: var(--current-text);
  }
  h2 {
    @apply font-raleway text-5xl font-bold;
    color: var(--current-text);
  }
  h3 {
    @apply font-raleway text-4xl font-medium;
    color: var(--current-text);
  }
  h4 {
    @apply font-raleway text-3xl font-medium;
    color: var(--current-text);
  }
  h5 {
    @apply font-raleway text-2xl font-medium;
    color: var(--current-text);
  }
  h6 {
    @apply font-raleway text-xl font-medium;
    color: var(--current-text);
  }
  .subtitle {
    @apply font-averiaSerifLibre text-lg font-normal;
    color: var(--current-text);
  }

  .small {
    @apply font-averiaSerifLibre text-xs font-bold;
    color: var(--current-text);
  }
  .overline {
    @apply text-xs font-medium uppercase tracking-widest;
    color: var(--current-text);
  }

  .body-sm {
    @apply text-[14px] font-normal text-[var(--current-text)];
  }
}

/* Apply a light background color to even sections */
section.my-section:nth-child(even) {
  background-color: var(--current-background);
}

/* Apply a seconday background color to odd sections */
section.my-section:nth-child(odd) {
  background-color: var(--current-secondary);
}

/** Default section style */
section.my-section {
  @apply flex h-screen w-screen flex-col items-center gap-8 px-8 lg:px-0;
}

section.my-rounded-section canvas {
  @apply rounded-3xl sm:rounded-none;
}
