@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* initially respect user theme */
  :root {
    --light-background: #fdf7f1;
    --light-text: #170c03;
    --light-primary: #efb680;
    --light-secondary: #fae7d6;
    --light-accent: #ff8e24;
    --dark-background: #090a00;
    --dark-text: #fbfddd;
    --dark-primary: #efb680;
    --dark-secondary: #292929;
    --dark-accent: #bcbdc7;
  }

  :root {
    --current-background: var(--light-background);
    --current-text: var(--light-text);
    --current-primary: var(--light-primary);
    --current-secondary: var(--light-secondary);
    --current-accent: var(--light-accent);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --current-background: var(--dark-background);
      --current-text: var(--dark-text);
      --current-primary: var(--dark-primary);
      --current-secondary: var(--dark-secondary);
      --current-accent: var(--dark-accent);
    }
  }

  [data-theme="light"] {
    --current-background: var(--light-background);
    --current-text: var(--light-text);
    --current-primary: var(--light-primary);
    --current-secondary: var(--light-secondary);
    --current-accent: var(--light-accent);
  }

  [data-theme="dark"] {
    --current-background: var(--dark-background);
    --current-text: var(--dark-text);
    --current-primary: var(--dark-primary);
    --current-secondary: var(--dark-secondary);
    --current-accent: var(--dark-accent);
  }

  body {
    @apply font-telex text-base font-normal;
    color: var(--current-text);
    background-color: var(--current-background);
  }

  a {
    @apply underline decoration-wavy underline-offset-2;
  }

  h1 {
    @apply font-raleway text-6xl font-normal;
    color: var(--current-text);
  }
  h2 {
    @apply font-raleway text-5xl font-bold;
    color: var(--current-text);
  }
  h3 {
    @apply font-raleway text-4xl font-medium;
    color: var(--current-text);
  }
  h4 {
    @apply font-raleway text-3xl font-medium;
    color: var(--current-text);
  }
  h5 {
    @apply font-raleway text-2xl font-medium;
    color: var(--current-text);
  }
  h6 {
    @apply font-raleway text-xl font-medium;
    color: var(--current-text);
  }
  .subtitle {
    @apply font-averiaSerifLibre text-lg font-normal;
    color: var(--current-text);
  }

  .small {
    @apply font-averiaSerifLibre text-xs font-bold;
    color: var(--current-text);
  }
  .overline {
    @apply text-xs font-medium uppercase tracking-widest;
    color: var(--current-text);
  }

  .body-sm {
    @apply text-[14px] font-normal text-[var(--current-text)];
  }
}

/* Apply a light background color to odd sections */
section:nth-child(even) {
  background-color: var(
    --current-background
  ); /* You can change this to the light color you prefer */
}

/* Apply a secondary background color to even sections */
section:nth-child(odd) {
  background-color: var(
    --current-secondary
  ); /* You can change this to the secondary color you prefer */
}

/** Default section style */
section.my-section {
  @apply flex h-screen w-screen flex-col items-center gap-8 px-8 lg:px-0;
}

section.my-rounded-section canvas {
  @apply rounded-3xl sm:rounded-none;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--red);
  transform-origin: 0%;
}
